Data/UserData/usernames.json
Data/UserData/Users/*
!Data/UserData/Users/.gitkeep
Data/UserData/EmailVerification/*
!Data/UserData/EmailVerification/.gitkeep
Data/Calender/*
!Data/Calender/.gitkeep
Data/Blog/Announcements/*
!Data/Blog/Announcements/.gitkeep
Data/Blog/Posts/*
!Data/Blog/Posts/.gitkeep
Data/Blog/Timeouts/*
!Data/Blog/Timeouts/.gitkeep
fonts/Inter/static/
Data/Blog/upload_date.txt
Data/Blog/views.txt
HTML_PAGES/Gameroom/Memory/activeGames/*
!HTML_PAGES/Gameroom/Memory/activeGames/.gitkeep
Data/Emails/*
!Data/Emails/.gitkeep
Data/DevLists/*
!Data/DevLists/.gitkeep
Data/UserData/used_emails.json
RememberMeCookies/*
!RememberMeCookies/.gitkeep
Sessions/*
!Sessions/.gitkeep
STRACE/*
Data/Streaming/Videos/*
Data/UserData/displaynames.json
Data/Private/*
!Data/Private/.gitkeep
Data/CSharpGameLauncher/Games/*
!Data/CSharpGameLauncher/Games/.gitkeep
Data/CSharpGameLauncher/Launcher/*
!Data/CSharpGameLauncher/Launcher/.gitkeep
Data/Sessions/*
!Data/Sessions/.gitkeep
.vscode/*