Data/UserData/usernames.json
Data/UserData/Users/*
!Data/UserData/Users/.gitkeep
Data/UserData/EmailVerification/*
!Data/UserData/EmailVerification/.gitkeep
Data/Calender/*
!Data/Calender/.gitkeep
Data/Blog/Announcements/*
!Data/Blog/Announcements/.gitkeep
Data/Blog/Posts/*
!Data/Blog/Posts/.gitkeep
Data/Blog/Timeouts/*
!Data/Blog/Timeouts/.gitkeep
fonts/Inter/static/
Data/Blog/upload_date.txt
Data/Blog/views.txt
HTML_PAGES/Gameroom/Memory/activeGames/*
!HTML_PAGES/Gameroom/Memory/activeGames/.gitkeep
Emails/*
!Emails/.gitkeep
Data/DevLists/*
!Data/DevLists/.gitkeep
Utils/DataUtils/Important/no_upload.pm
Data/UserData/used_emails.json
RememberMeCookies/*
!RememberMeCookies/.gitkeep
Sessions/*
!Sessions/.gitkeep